<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>MITOCHONDRIAL TRANSPORT LAB</h2>
        </header>
        <p>Investigating <strong>mitochondrial transport</strong> in health and disease.</p>

    </div>

</section>
