<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
{% include head.html %}

<body class="index">
  {% include header.html %}
  <section id="banner">
    <!--
    ".inner" is set up as an inline-block so it automatically expands
    in both directions to fit whatever's inside it. This means it won't
    automatically wrap lines, so be sure to use line breaks where
    appropriate (<br />).
  -->
  <div class="inner">
    <header>
      <h2>MITOCHONDRIAL TRANSPORTERS LAB</h2>
    </header>
  </div>

</section>

<div class="page-content">
  {{ content }}
</div>
{% include slideshow_news.html %}
{% include footer.html %}

</body>

</html>
